/* nav ul li {
    border: 2px solid  blue;
}
*/

body {
    font-family: Helvetica, San-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #363636;
}

#header {
    background: #59799e;  
    width: 100%;
    height: 103px;
    position: fixed;
    top: 0;
    z-index: 2;
    text-align: center;
}

#logo {
    height: 100px;
}

#logo:hover {
  background-color: #597DA5;
}


/* left column */

#nav-bar {
    height: 100%;
    width: 15%;
    top: 0px;
    margin: 100px 0 0 0;
    padding: 0;
    border-right: 3px solid #59799e; 
    position: fixed;
    text-align: center;
    z-index: 1;
}

#nav-header {
    color: rgb(225, 233, 255);
    font-size: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0;
    border-bottom: 3px solid #59799e; 
    text-shadow: 0px 3px #59799e;
    background-color: #849cb8;
}

nav ul{
    height: 100vh;
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}

nav ul li {
    margin: 20px 20px 20px 20px;
    padding-bottom: 30px;
    border-bottom: 3px solid #59799e;
}

.nav-link {
    color: #59799e;
    text-shadow: 0px 2px white; 
    font-size: 30px;
}

a:link {
    text-decoration: none;
}

a:hover {
    
    color: white;
}


/* content */

div {
    text-align: center;
    margin-top: 11%;
    margin-left: 13%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 12%;
    row-gap: 70px;
}

.sprint {
    width: 300px;
    margin-bottom: 30px;
}
.sprint img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px #59799e;
}

.sprint h1 {
    width: 70%;
    margin: auto;
    padding-top: 10px;
    font-size: 20px;
    text-decoration: underline;
    color: rgb(187, 183, 183);
}


/* Media Query */

@media all and (min-width: 320px) and (max-width: 767px) {
    #logo {
        height: 90px;
    }
    .nav-link, #nav-header {
        font-size: 10px;
    }
    nav ul li {
        margin: 10px;
    }
    #teHoutaewa {
        margin-left: 0px;
        margin-right: 0px;
    }
    .sprint img {
        width: 200px;
        height: 200px;
    }
    div {
        column-gap: 6%;
        row-gap: 40px;
        margin-top: 140px;
    }
    .sprint {
        margin-bottom: 50px;
    }
}

@media all and (min-width: 768px) and (max-width: 1199px) {
    .nav-link, #nav-header {
        font-size: 20px;
    }
    
    div {
        margin-top: 140px;
        margin-bottom: 50px;
    }
    
}
